@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .skeui-nm-outside-shadow {
    box-shadow: 0.15em 0.15em calc(0.1em * 8) rgb(39, 48, 67, 0.3);
    mix-blend-mode: multiply;
  }
  .skeui-nm-outside-highlight {
    box-shadow: -0.2em -0.2em calc(0.1em * 8) #fefff9;
    mix-blend-mode: soft-light;
  }
  .skeui-nm-inside-shadow {
    box-shadow: inset 0.3em 0.3em calc(0.3em * 2) 0 rgb(39, 48, 67, 0.15),
      inset 0 0 calc(0.4em * 2) rgb(39, 48, 67, 0.15);
    mix-blend-mode: multiply;
  }
  .skeui-gp-outside-shadow-faint {
    box-shadow: 0.15em 0.15em calc(0.1em * 8) rgb(39, 48, 67, 0.1);
    mix-blend-mode: multiply;
  }
  .skeui-gp-outside-shadow {
    box-shadow: 0.15em 0.15em calc(0.1em * 8) rgb(39, 48, 67, 0.2);
    mix-blend-mode: multiply;
  }
  .skeui-gp-outside-shadow-intense {
    box-shadow: 0.15em 0.15em calc(0.1em * 8) rgb(39, 48, 67, 0.3);
    mix-blend-mode: multiply;
  }
  .skeui-soft-transition {
    @apply skeui-transition skeui-ease-in-out skeui-delay-150 skeui-duration-300;
  }
  .skeui-hard-transition {
    @apply skeui-transition skeui-ease-in-out skeui-duration-150;
  }
}

@layer components {
  .skeui-gp-inside-shadow {
    box-shadow: inset 0.3em 0.3em 4em 0 rgba(255, 255, 251, 0.2),
      inset 0 0 2em rgba(255, 255, 251, 0.2);
  }
  .skeui-btn-carousel-nav {
    @apply skeui-hidden sm:skeui-block skeui-self-center skeui-z-40 skeui-text-3xl skeui-rounded-full skeui-backdrop-blur-lg hover:skeui-scale-150 skeui-bg-slate-800;
  }

  .skeui-btn {
    @apply skeui-px-4 skeui-py-2 skeui-rounded-full skeui-text-slate-500 skeui-bg-slate-500/80 hover:skeui-scale-110;
  }

  .skeui-btn-nav {
    @apply skeui-text-4xl skeui-w-fit skeui-text-slate-500 hover:skeui-bg-slate-600/50 skeui-rounded-full skeui-p-2;
  }
}
